[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-wtf = "*"
flask-login = "*"
peewee = "*"
"psycopg2-binary" = "*"
zappa = "*"
flask-assets = "*"
"flask-s3" = "*"


[dev-packages]

