body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  background-color: black;
  font-size: 0.8rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  color: white;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container > h1 {
  text-align: center;
}

.small {
  font-size: 0.8em;
}

code {
  display: block;
  background-color: #ddd;
  padding: 0.5rem;
  white-space: nowrap;
  overflow-x: scroll;
}

footer {
  background-color: #ccc;
  overflow-y: hidden;
  margin-top: 4rem;
}

.form-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1rem;
}

@media (min-width: 640px) {
  .form-fields {
    grid-template-columns: 1fr 3fr;
  }
}

form button {
  display: block;
  margin: 1em auto;
}

.quote,
.collection {
  margin: 1rem 0;
}

.quote .author {
  text-align: right;
  color: #555;
}

.quote a,
.collection a {
  color: black;
}
