body {
  margin: 0;
  font-family: sans-serif;
}

nav {
  background-color: black;
  font-size: 0.8rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  color: white;
  padding: 0;
  margin: 0;
}

nav a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0.3rem;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

.container > h1 {
  text-align: center;
}

.small {
  font-size: 0.8em;
}

code {
  display: block;
  background-color: #ddd;
  padding: 0.5rem;
  overflow-x: scroll;
}

footer {
  background-color: #ccc;
  overflow-y: hidden;
  padding: 0 1rem;
  margin-top: 4rem;
}

form > div {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 1rem;
}

form > div > label {
  margin-right: 0.5rem;
}

form > div > input,
form > div > textarea,
form > div > select {
  flex-grow: 1;
}

form button {
  display: block;
  margin: 1em auto;
}

.quote,
.collection {
  margin: 1rem;
}

.quote .author {
  text-align: right;
  color: #555;
}

.quote a,
.collection a {
  color: black;
}
