<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% assets 'css_all' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
  <title>Quote Generator</title>
</head>
<body>
  {% include 'nav.html' %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </div>
  {% block footer %}{% endblock %}
</body>
</html>
