{% extends 'layout.html' %}
{% block content %}
<h2>Quote: {{ form.id.data }}</h2>
{% include 'form_errors.html' %}
<form action="{{ url_for('quote', quote_id=form.id.data) }}" method="post">
  {{ form.hidden_tag() }}
  <div class="form-fields">
    {{ form.content.label }}
    {{ form.content(autofocus=True, rows=8) }}
    {{ form.author.label }}
    {{ form.author }}
    {{ form.collections.label }}
    {{ form.collections }}
    {{ form.form_delete.label }}
    {{ form.form_delete }}
  </div>
  <button type="submit">Save Changes</button>
</form>
{% endblock %}
